body {
  background-color: #ecf0f1;
}

#contentWrap {
  display: none;
}

/* Chat */
#chat, #usernames {
  max-height: 450px;
}

/* Errors */
.error {
  color: red;
}

/* Messages */
.whisper {
  color: gray;
  font-style: italic;
}

.messageTime {
  font-size: 6px;
}

/* Background */
body{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Video */
#video {
  border-radius: 3%;
}